.card {
  border-radius: 10px;
  padding: 30px 10px 0;
  margin: auto;
}
h4 {
  color: white;
  background-color: var(--main-color);
  font-weight: 700;
  border-radius: 15px;
  margin-bottom: 20px;
}
.card i {
  margin-right: 10px;
  color: #777;
  font-size: 14px;
}
input:focus,
select:focus {
  outline: none;
  box-shadow: none;
}
input::placeholder {
  color: #777;
}
.selected {
  color: white;
  background-color: var(--main-color);
}
h5,
h6 {
  font-weight: 600;
  margin: 10px 0 15px;
}
.form-check-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #aaa;
}
.form-check-input {
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border: 2px solid #d1d1d1;
  border-radius: 4px;
  cursor: pointer;
}
.form-check-input:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  border-radius: 5px;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  width: 20px;
  height: 20px;
  background: var(--main-color);
  border-radius: 50%;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--main-color);
  border-radius: 50%;
  cursor: pointer;
}
.salary-custom {
  background-color: #eee;
  padding: 8px 10px;
  margin: 10px 0;
}
