.dropdown-toggle {
  cursor: pointer;
}
.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 600px;
  width: 500px;
  margin-top: 15px;
  max-height: 400px;
  overflow-y: auto;
  padding-right: 20px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
@media (max-width: 768px) {
  .dropdown-menu {
    width: 100%;
  }
}
.dropdown-menu li {
  padding: 10px;
}
.dropdown-toggle::after {
  margin-left: -18px;
  margin-right: 10px;
}
img {
  border-radius: 50%;
}
.dropdown-menu::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  width: 10px;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.3);
}
.dropdown-menu::-webkit-scrollbar {
  display: none;
}
.dropdown-menu::-webkit-scrollbar-thumb {
  display: none;
}
.dropdown-menu:after {
  background: linear-gradient(
    to bottom,
    var(--main-color),
    var(--main-alt-color)
  );
}
.dropdown-menu h6 {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}
.dropdown-menu small {
  color: #666;
}
.dropdown-menu li {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition: background-color var(--main-duration) ease;
  -webkit-transition: background-color var(--main-duration) ease;
  -moz-transition: background-color var(--main-duration) ease;
  -ms-transition: background-color var(--main-duration) ease;
  -o-transition: background-color var(--main-duration) ease;
}
.dropdown-menu li:hover {
  background-color: rgb(214 210 210 / 33%);
  cursor: pointer;
}
.dropdown-menu li:last-child {
  border-bottom: none;
}
.dropdown-menu img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.dropdown-menu h5 {
  font-size: 1rem;
  margin: 0;
  color: #000;
}
.dropdown-menu .company {
  font-weight: bold;
  color: #007bff;
}
.dropdown-menu .info {
  color: #777;
  font-size: 0.85rem;
}
.i-num {
  font-size: 24px;
  margin-right: 10px;
}
.notfi-num {
  position: relative;
  bottom: 15px;
  right: 20px;
  border: 1px solid;
  font-size: 10px;
}
