<footer class="bg-light py-4">
  <div class="container">
    <div class="row">
      <!-- Left Section: Logo and Description -->
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <h5 class="mb-2">
          <a class="navbar-brand fw-bold fs-4" href="#">
            <img
              src="assets\images\Logo\Logo.png"
              alt="Job Finder"
              width="30"
              height="30"
              class="d-inline-block align-text-top"
            />
            Jobify
          </a>
        </h5>
        <p class="text-muted">
          Job Finder is your one-stop platform to connect with top employers and
          discover exciting job opportunities across various industries.
        </p>
      </div>

      <!-- Center Section: Links -->
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <div class="col-md-3 col-6 mb-3">
            <h6><strong>Company</strong></h6>
            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Our Team</a></li>
              <li><a href="#">Products</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-6 mb-3">
            <h6><strong>Product</strong></h6>
            <ul class="list-unstyled">
              <li><a href="#">Feature</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Credit</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-6 mb-3">
            <h6><strong>Download</strong></h6>
            <ul class="list-unstyled">
              <li><a href="#">iOS</a></li>
              <li><a href="#">Android</a></li>
              <li><a href="#">Microsoft</a></li>
              <li><a href="#">Desktop</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-6 mb-3">
            <h6><strong>Support</strong></h6>
            <ul class="list-unstyled">
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom Section: Social Icons and Copyright -->
    <div class="row mt-4 custom-border">
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        <p class="text-muted mb-0">
          Copyrigh &copy; 2025
          <strong class="custom-color">Jobify</strong> All Rights Reserved
        </p>
      </div>
      <div class="col-md-6 text-center text-md-end icon">
        <a href="#" class="text-muted me-3"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-muted me-3"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-muted me-3"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-muted me-3"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>
