<div class="container my-5">
  <h1 class="fw-bold main-title">About-Us</h1>
  <div class="row align-items-center content">
    <div class="col-md-6" appScrollAnimate>
      <div class="position-relative">
        <img
          src="assets/images/About-us/About.png"
          alt="Team Meeting"
          class="img-fluid rounded-4"
        />
      </div>
    </div>
    <div class="col-md-6" appScrollAnimate>
      <h2>Post your job and find the people you need</h2>
      <p appScrollAnimate>
        At Company, we connect talented individuals with organizations looking
        for the perfect fit. Our platform simplifies the hiring process, making
        it easier for employers and job seekers to find each other.
      </p>
      <h4>Find Full-time & Internship Jobs</h4>
      <p appScrollAnimate>
        Explore a wide range of job opportunities that suit your skills and
        interests. Whether you're looking for a full-time position or an
        internship, we've got you covered.
      </p>
      <h4>Why Choose Us?</h4>
      <p appScrollAnimate>
        Our user-friendly interface and advanced search features help you find
        the right job in no time. We prioritize quality listings to ensure that
        you have access to the best opportunities available.
      </p>
      <a [routerLink]="['/about']" class="text-white rounded-2 default-btn"
        >Browse all</a
      >
    </div>
  </div>
</div>
<app-footer></app-footer>
