<section class="trust-section py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h5 class="mb-3 fw-bold">ABOUT US</h5>
        <h2>
          Why <span class="text-warning">10,000+</span> People Trust On Jobify?
        </h2>
        <p>
          Start working with Jobcy that can provide everything you need to
          generate awareness, drive traffic, connect. Dummy text is used by
          designers to occupy space.
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-check-circle"></i> Your feuture job is here</li>
          <li><i class="fa fa-check-circle"></i> Creative Design</li>
          <li><i class="fa fa-check-circle"></i> New Job Innovations</li>
          <li><i class="fa fa-check-circle"></i> Create Resume</li>
          <li><i class="fa fa-check-circle"></i> Many Opportunities</li>
        </ul>
        <a href="#" class="btn default-btn text-white">Learn More</a>
      </div>
      <div class="col-lg-6">
        <img
          src="assets/images/About/team.jpg"
          class="img-fluid rounded"
          alt="Team Meeting"
        />
      </div>
    </div>
  </div>
</section>
