<div class="container-fluid text-center py-5 bg-color">
  <h2 class="fs-3 fw-bold mb-4">
    See everything about your employee at one place.
  </h2>
  <p class="mt-3 text-muted">
    Start working with Jobify that can provide everything you need to generate
    awareness, drive traffic, connect
  </p>
  <div class="mt-4 d-flex justify-content-center">
    <button
      class="btn default-btn text-white btn-lg me-3"
      [routerLink]="['/home']"
    >
      <i class="fas fa-rocket me-2 text-white position-static"></i> Get Started
      Now
    </button>
  </div>
</div>
