<div class="col-md-12 mt-5 mb-4" appScrollAnimate>
  <div class="card mb-3">
    <div class="card-body d-flex">
      <div class="job-icon">
        <img
          [src]="job.companyLogo"
          alt="Company Logo"
          class="rounded-circle"
          width="50"
        />
      </div>
      <div class="ms-3" appScrollAnimate>
        <h5 class="card-title" [routerLink]="['/job-list']">{{ job.title }}</h5>
        <p class="card-text">
          <strong class="company com-color">{{ job.company }}</strong>
          <span class="info">
            <i class="fa-solid fa-location-dot"></i> {{ job.location }}
            <i class="fa-solid fa-briefcase"></i>{{ job.type }}
            <i class="fa-regular fa-clock"></i> {{ job.posted }}
            <span class="price">{{ job.salary }}</span>
          </span>
        </p>
        <p class="desc-text">{{ job.description }}</p>
        <div class="d-flex">
          <span *ngIf="job.urgent" class="btn btn-1-color">Urgent</span>
          <span *ngIf="job.senior" class="btn btn-2-color">Senior</span>
          <span *ngIf="job.fullTime" class="btn btn-3-color">
            <i class="fa-solid fa-circle"></i> Full time
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
